body {
    background-image: url("../images/anime-background.jpg");
    background-size: cover;
}

.jumbotron {
    margin-top: 2rem;
    background-color: transparent;
    color: #FFFACD;
    text-shadow: 3px 0 0 #999900;
    font-family: 'Poppins', sans-serif;
}

#start-text {
    margin-top: 2rem;
}

#start-btn{
    margin-top: 5rem;
}
