body {
    background-image: url("../images/anime-background.jpg");
    background-size: cover;
}

.hidden {
    visibility: hidden;
}

.jumbotron {
    margin-bottom: 0;
    background-color: transparent;
    color: #FFFACD;
    text-shadow: 3px 0 0 #999900;
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: rgba(227, 219, 233, 0.5);
    border: 2px solid #26004d;
    color: #FFFACD;
    text-shadow: 2px 2px 2px #000000;

}

.card:hover {
    background-color: rgb(209, 140, 243);
    cursor: pointer;
}

#start-text {
    margin-top: 2rem;
}

#time, #end-display {
    color: #FFFACD;
    text-shadow: 2px 0 0 #999900;
}

#question {
    max-height: 450px;
    margin-right: auto;
    margin-left: auto;
    border: 8px solid #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#answer-img {
    visibility: hidden;
    max-height: 450px;
    margin-right: auto;
    margin-left: auto;
    border: 8px solid #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
}

#start-btn {
    position: absolute;
    top: 12rem;
    left: 15rem;
}
